doctype html
html(lang='en')
  head
    title= title || 'Santa Phone - The North Pole is calling'
    meta(name="description", content="Santa's phone request hotline. Schedule a time to have one of Santa's helpers call your child or loved one. When the call is over you'll get a list of what your child wants :) For every call Twilio will donate $1 to Toys for Tots.")
    meta(name="author", content="Twilio")
    meta(content='text/html;charset=UTF-8', http-equiv='Content-type')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    // Open Graph protocol:
    meta(property="og:title", content="Santa Phone - The North Pole is calling.")
    meta(property="og:description", content="Santa's phone request hotline. Schedule a time to have one of Santa's helpers call your child or loved one. When the call is over you'll get a list of what your child wants :) For every call Twilio will donate $1 to Toys for Tots.")
    meta(property="og:type", content="website")
    meta(property="og:locale", content="en_US")
    meta(property="og:url", content="https://santaphone.org")
    meta(property="og:image", content="http://jardiohead.s3.amazonaws.com/social-santaphone.png")
    meta(property="og:site_name", content="SantaPhone")
    meta(property="fb:admins", content="5200953")
    meta(property="fb:admins", content="40012883")
    meta(property="twitter:card", content="summary")
    meta(property="twitter:site", content="@twilio")
    meta(property="twitter:domain", content="SantaPhone")
    meta(property="twitter:creator", content="@jreyesdev")

    // Twilio shortcut icons
    link(rel='shortcut icon', 
      href='//twilio.com/bundles/marketing/img/favicons/favicon.ico')
    link(rel='apple-touch-icon', 
      href='//twilio.com/bundles/marketing/img/favicons/favicon_57.png')
    link(rel='apple-touch-icon', sizes='72x72', 
      href='//twilio.com/bundles/marketing/img/favicons/favicon_72.png')
    link(rel='apple-touch-icon' sizes='114x114' 
      href='//twilio.com/bundles/marketing/img/favicons/favicon_114.png')

    // Include Font Awesome Icons
    link(rel='stylesheet',
      href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/generics.global.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/objects.grid.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/objects.containers.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/objects.grid.responsive.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/objects.modals.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/components.inputs.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/components.overlays.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/components.buttons.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze/dist/utilities.alignment.min.css')

    // HTML 5 shims for older IE
    <!--[if lt IE 9]>
    script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    <![endif]-->

    // Page styles
    link(rel='stylesheet', href='/css/main.css')
    //- Include any page-specific styles
    block styles

  body(class=title)
    //- Include page content
    #main

      // Display any error or informational messages
      mixin messages(list)
        i.fa.fa-close
        each message in list
          p= message

      .message-list
        if (errors && errors.length > 0)
          .box.bg-danger
            +messages(errors)

        if (successes && successes.length > 0)
          .box.bg-success
            +messages(successes)

      //- Include page content 
      .o-container.o-container--medium
        .logo.u-center-block
          img.u-center-block__content(src="/img/sp-logo.svg", alt="The North Pole project logo")
      block content

    footer
      .o-container.o-container--medium
        .logo.u-center-block
          img.u-center-block__content(src="/img/footer.svg", alt="Happy Holidays from Twilio")
        .u-center-block
          a.code.u-center-block__content(href="https://github.com/jarodreyes/northpoleproject")
            i.fa.fa-github-square(aria-hidden="true")
            | &nbsp; Get the code
        .u-center-block
          .u-center-block__content(style="text-align:center;")
            a(href="/privacy") Privacy Statement


            
      

    // Include jQuery and Bootstrap scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

    //- Include any page-specific scripts
    block scripts

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88517404-2', 'auto');
      ga('send', 'pageview');

</script>
